<%- include('partials/Header') %>

  <div class="">
    <div class="userInfo centerFlexColumn">

      <h1>HELLO, <%=firstname%>
      </h1>

      <div class="profileImgSec">




        <% if(profilePic){%>
          <img title="edit image" class="editProfileImage" src="<%=profilePic%>" alt="profile img">


          <% }else{ %>
            <img class="editProfileImage" src="/images/user.png" alt="no img">
            <% } %>

              <p class="editimg">CLICK TO EDIT</p>
              <div class="profileForm">
                <form id="picform" action="/uploadProfilePic" method="post" enctype="multipart/form-data">

                  <label for="image">Upload profile picture</label>
                  <input type="file" id="image" name="image" placeholder="select Image">
                  <button class="btn ibutton" type="submit">upload</button>

                </form>
              </div>




      </div>

      <h2 id="infoexpand">Your Account Information <img id="arrow" src="/images/arrow.png" alt="arrow"> </h2>


      <div class="userinfoforms">

        <div id="userinfoslide" class="">

          <div class="slidebox">
            <p><b>Username</b></p>
          <p><%=username%></p>

          <p><b>First Name</b></p>
          <p><%=firstname%></p>

          <p><b>Last Name</b></p>
          <p><%=lastName%></p>

          
          </div>

          <div class="slidebox">
          <p><b>Gender</b></p>
          <p><%=gender%></p>
          <p><b>Email</b></p>
          <p><%=email%></p>

          <p><b>Phone no.</b></p>
          <p><%=phone%></p>

          <img title="Edit" class="editclose" id="edit" src="/images/editicon.png" alt="edit icon">

          </div>

        </div>

        <form id="editform" class="editform" action="/updateUserInfo" method="post" style="display:none;">

          <h3 class="rgb">Edit your personal Information.</h3>

       <div class="slidebox">
        <label for="firstname">
          <p>First Name</p>
        </label>
        <input id="firstname" name="firstName" type="text" placeholder="<%=firstname%>" value="<%=firstname%>">

        <label for="lastname">
          <p>Last Name</p>
        </label>
        <input type="text" name="lastName" placeholder="<%=lastName%>" value="<%=lastName%>">



       </div>

       <div class="slidebox">
        

        <label for="gender">
          <p>Gender</p>
        </label>
        <select name="gender" id="gender">
          <option style="display:none" value="<%=gender%>"></option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>

        </select>
        <br>


        <label for="email">
          <p>Email</p>
        </label>
        <input type="email" name="email" id="email" placeholder="<%=email%>" value="<%=email%>">

        <label for="tel">
          <p>Phone no.</p>
        </label>
        <input id="tel" type="tel" placeholder="<%=phone%>" value="<%=phone%>" name="phone" maxlength="12"
          minlength="10" />


        <button class="btn ibutton" type="submit">SAVE</button>
        <a class="btn" id="cancle"><p >Cancle</p></a>

       </div>


        </form>

      </div>






      <br><br>
      <h2>My Secrets</h2>
    </div>


    <div class="postdetails">
      <a id="submitbtn" class="btn ibutton" role="button">Submit a Secret</a>

      <div class="mainsubmit">
        <h2>Create Post</h2>
        <hr>
        <form id="submitform" style="margin: 0; padding:0;" action="/submit?from=myaccount" method="post">
          <textarea id="inputarea" name="secret" placeholder="What for today ?" required maxlength="500"></textarea>
          <br>
          <p id="charac-count">0/500</p>
          <button id="submitbtn1" type="submit" class="btnx">POST</button>
        </form>

        <script>
          document.querySelector("#submitform").addEventListener("submit", async function (event) {
            const button = event.target.querySelector("#submitbtn1");
            button.setAttribute("disabled", true);

          });

        </script>

      </div>


      <br><br>



      <% userSecrets.reverse().forEach(function(data){ %>

        <% var dateTime=data.postId.getTimestamp()%>

          <p>
            <%=dateTime.toLocaleDateString()%> - <%=dateTime.toLocaleTimeString()%>
          </p>


          <% if(username !=="Anonymous" ){ %>
            <a href="/delete/?user=<%=userid%>&item=<%=data.postId%>&from=myaccount"><img title="Delete"
                class="deleteIcon" src="/images/trash.png" alt="delete icon"></a>

            <% } %>
              <h1 title="<%=dateTime.toLocaleDateString()%> - <%=dateTime.toLocaleTimeString()%>%>">

                <% var txt=data.userSecretePost%>
                  <% if(txt.length>100){%>
                    <pre><%=txt.substring(0,100)%><span class="dots">....</span><span class="more"><%=txt.substring(100,500)%></span><span class="read readMore ">read more</span>
                 <%}else{%><pre><%=txt%></a><%}%>
                </pre>

                    <% if(data.like){ %>
                      <p title="likes" style="font-size: 17px;"><img height="25" src="/images/redheart.png" alt="">
                        <%=data.like%>
                      </p>

                      <% } %>

              </h1>

              <hr>
              <% }) %>

    </div>

    <br>
  </div>

  <script>
    $(document).ready(() => {

      $(".profileForm").hide();
      $(".editimg").hide();
      $(".userinfoforms").hide();
      $(".mainsubmit").hide();
      $("#editform").hide();

      $(".editProfileImage").click(() => {
        $(".profileForm").toggle(300);

      });
      $(".editProfileImage").hover(() => {
        $(".editimg").slideToggle(300);

      });

      $("#submitbtn").click(() => {
        $(".mainsubmit").toggle(300);

      });

      $("#edit").click(() => {
        $("#userinfoslide").slideUp(300);

        $("#editform").slideToggle(300);


      });
      $("#cancle").click(() => {
        $("#editform").slideUp(300);

        $("#userinfoslide").slideToggle(300);


      });





      $("#infoexpand").click(() => {
        $(".userinfoforms").slideToggle(300);
        $("#arrow").toggleClass("rotate90");


      });








    })




  </script>
  <script>
    $(document).ready(function () {
      $(".read").click(function () {
        $(this).prev().toggle();
        $(this).siblings('.dots').toggle();
        if ($(this).text() == 'read more') {
          $(this).text(' read less');
        }
        else {
          $(this).text(' read more');
        }
      });
    });
  </script>

  <%- include('partials/Footer') %>