<%- include('partials/Header') %>


  
  <div class="">
    
      <div class="secretPageTop">
        
      <% usersWithSecrets.forEach(function(user){ %> 
        
        <% if(user._id==accountuser){ %>
            <h1 class="accountUser"><i class="fi fi-rr-user">  </i><%=user.username%></h1>
        <%}%>
        
        <%  }); %> 


          <!-- <div class="secretbtn">
            <a class="btn ibutton " href="/logout" role="button">Sign Out</a>
            <a class="btn ibutton " href="/submit" role="button">Submit a Secret</a>
          
          </div> -->

     


     
      </div>






    <div class="secretsContentPage">



      <% usersWithSecrets.forEach(function(user){ %>
        <% if(user.secret.length>0){ %>
          <div class="postboxContainer">

            <div class="postboxsection1">

              <% if(user._id==accountuser){ %>
                <P class="username-At-Post"><%=user.username%></P>
            <%}else{ %> 
              <P class="username-At-Post">Anonymous</P>
              <% } %> 


              <p class="secrtesCount">Secrets : <%=user.secret.length%> </p>
            </div>


            <div class="postboxsection2">
              <% var count=0; %> 
              <% user.secret.reverse().forEach(function(secretsData){ %>

                <% if(count<3){ %>

                
                  
                <% var txt=secretsData.userSecretePost%> 
            <% if(txt.length>200){%> 
        <p>👉🏻<%=txt.substring(0,200)+"...."%><a class="readMore" href="/postDetails/<%=user._id%>">Read More</a></p>
        <%}else{%>
          <p>👉🏻<%=txt%></a></p>
          <%} %> 

        
                  
                  <% count++; %> 

                <% }}) %>

            </div>
            <!-- <hr> -->

          </div>
          <% } %>

            <% }); %>




    </div>


    <!-- <a class="goOnTop" href="#">&#x2191</a> -->
    <button onclick="topFunction()" id="goOnTop" title="Go to top">&#x2191</button>

  </div>





  <script>
    var mybutton = document.getElementById("goOnTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    

  </script>

  <%- include('partials/Footer') %>